Repository LJOSC/checkmark-backend, pull requests merged in 2024-07, with the labels that each got.

#7 Added A Docker File
  .dockerignore
  Dockerfile
  README.Docker.md
  docker-compose.db.yaml
  docker-compose.yaml
  package.json
Labels: docker, High Priority

#31 verify refresh token in blacklist
  src/middlewares/verifyRefreshToken.ts
  src/routes/user/user.dao.ts
Labels: API

#35 Fix husky pre-commit hook
  .husky/pre-commit
  package-lock.json
  package.json
Labels: bug, High Priority, eslint, prettier

#33 Fix delay between db connection retries
  docker-compose.db.yaml
  docker-compose.yaml
  env.example
  src/services/db.ts
Labels: bug, mongoose, High Priority

#36 Add cron job to clean up jwt blacklist every 24 hours
  package-lock.json
  package.json
  src/cron/filterBlacklistedTokens.ts
  src/cron/index.ts
  src/index.ts
  src/routes/user/user.dao.ts
Labels: good first issue, feature, mongoose, cron

#38 Reset password feature
  env.example
  models/User.ts
  package-lock.json
  package.json
  src/configs/envVars.ts
  src/routes/user/user.controller.ts
  src/routes/user/user.dao.ts
  src/routes/user/user.routes.ts
  src/routes/user/user.service.ts
  src/routes/user/user.validation.ts
Labels: feature, API, mongoose

#40 Add an issue template file.
  .github/bug_report.md
Labels: good first issue, github

#41 changed the file name and added ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/issue_template.md
Labels: good first issue, github

#43 changes done in ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/general-issue.md
  .github/ISSUE_TEMPLATE/issue_template.md
Labels: good first issue, github

#45 Added a function blacklist which will invalidate the old token and du…
  src/middlewares/verifyRefreshToken.ts
  src/routes/user/user.controller.ts
  src/routes/user/user.dao.ts
  src/routes/user/user.routes.ts
  src/routes/user/user.service.ts
  src/routes/user/user.validation.ts
Labels: feature, API, middleware
